:root {
    --bgfondo: rgb(255, 0, 81);
}





body {
    font-family: "Titillium Web", sans-serif;
}

main {
    height: auto !important;
    height: 100%;
    min-height: 80vh;
}

footer {
    background-color: rgba(0,0,0, 0.815);
}

.iconos i {
    color: var(--bgfondo);
}

header {
    background-color: var(--bgfondo);
    margin-top: 20px;
}